.events-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
  margin-top: 20px;
  align-self: center;
}

.filters-button {
  display: block;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 18px;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.events {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .filters {
    display: none;
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    background: white;
    z-index: 1000;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .filters.show {
    display: block;
  }

  .events {
    flex-direction: column;
    align-items: center;
  }

  .search-container {
    margin-top: 10px;
  }
}

.filters-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 500px;
  z-index: 2000;
}

.filters-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.filter-options {
  display: flex;
  flex-direction: column;
}

.filter-options label {
  margin-bottom: 10px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal-buttons button {
  padding: 10px 20px;
  border: none;
  background: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.modal-buttons .reset-button {
  background: #dc3545;
}

.modal-buttons .apply-button {
  background: #28a745;
}

.modal-buttons .cancel-button {
  background: #6c757d;
}
